* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ffe6e6;
}
.container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    background-color: #ec004f;
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container .tenor-gif-embed {
    justify-content: center;
    margin-bottom: 20px;
}

.container .btn {
    position: relative;
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ec004f;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.614);
    transition: background-color 0.3s, color 0.3s;
}